
<h1>查询工作日加班</h1>

<%= form_tag({:controller =>"fingerprints",:action => "work_day"}, :method => "post") do %>
    <%= label_tag(:employee_name, "员工姓名:") %>
    <%= text_field_tag(:employee_name,@employee_name)%>
    <%= label_tag(:employee_name, "考勤月份:") %>
    <%= text_field_tag(:fp_time,@fp_time)%>
    <%= submit_tag("Search") %>
<% end %>


<table border="10px">
  <tr>
    <th>Dept name</th>
    <th>Employee name</th>
    <th>Employee no</th>
    <th>Fp time</th>
    <th>Machine</th>
    <th>No</th>
    <th>Pattern</th>
    <th>Card no</th>
    <th>备注说明</th>
  </tr>

<% @fingerprints.each do |fingerprint| %>
  <tr>
    <td><%= fingerprint.dept_name %></td>
    <td><%= fingerprint.employee_name %></td>
    <td><%= fingerprint.employee_no %></td>
    <td><%= fingerprint.fp_time %></td>
    <td><%= fingerprint.machine %></td>
    <td><%= fingerprint.no %></td>
    <td><%= fingerprint.pattern %></td>
    <td><%  fingerprint.card_no %></td>
    <td><% if DateTime.parse(fingerprint.fp_time.strftime("%H:%M:%S")) > DateTime.parse("22:00:00")
    %>
         <font color="red"> 可以报销打车费</font>
      <%
         end%></td>
     </tr>
<% end %>
</table>

<br />


